<script>
  const current_year = new Date().getFullYear();

  document.addEventListener('DOMContentLoaded', function() {
    
    document.querySelectorAll('#skill-years').forEach(elem => {
      const start = parseInt(elem.getAttribute('data-starting'), 10);
      if (!isNaN(start)) {
        const years = current_year - start;
        elem.textContent = `(${years}+ years)`;
      }
    });

    document.querySelectorAll('#skill-level').forEach(elem => {
      const level = elem.getAttribute('data-starting');
      elem.textContent = `(${level})`;
    });
  });
</script>

{{ range .Site.Data.skills.list }}
<h4 style="text-decoration: underline">{{ .type }}</h4>
<ul class="my-2 ms-4 prose prose-stone dark:prose-invert max-w-none list-disc list-outside pl-6">
  {{ range .skills }}
  {{ if .starting }}
    <li class="marker:text-gray-700 dark:marker:text-gray-200">{{ .name }} <span id="skill-years" data-starting="{{ .starting }}"></span></li>
  {{ else if .level }}
    <li class="marker:text-gray-700 dark:marker:text-gray-200">{{ .name }} <span id="skill-level" data-starting="{{ .level }}"></span></li>
  {{ else  }}
    <li class="marker:text-gray-700 dark:marker:text-gray-200">{{ .name }}</li>
  {{ end }}
  {{ end }}
</ul>
{{ end }}